# === Python Bytecode ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# === Virtual Environment ===
venv/

# === SQLite Database ===
*.sqlite3

# === Environment Variables ===
.env

# === Logs ===
*.log

# === Translation Files ===
*.pot

# === Static Files ===
staticfiles/
assets/

# === Media Files (optional if large user uploads) ===
media/

# === VSCode and IDE Settings ===
.vscode/
.idea/

# === Django Migration Cache (ignore cache, but keep migration .py files) ===
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo

# === Coverage reports ===
htmlcov/
.coverage
